# /etc/bunkerweb/scheduler.env
# Configuration du Scheduler BunkerWeb {{ bunkerweb_version }}

# Instance BunkerWeb locale (Full Stack single-node)
BUNKERWEB_INSTANCES=127.0.0.1

# Base de données SQLite locale (défaut)
DATABASE_URI=sqlite:////var/lib/bunkerweb/db.sqlite3

# Intervalle de vérification des jobs (secondes)
SCHEDULER_RELOAD_INTERVAL=3600
