# Copier en bunkerweb-aio.pkrvars.hcl et remplir les valeurs
# Ne pas commiter ce fichier en VCS

access_key        = "VOTRE_ACCESS_KEY"
secret_key        = "VOTRE_SECRET_KEY"
region            = "eu-west-2"
vm_type           = "tinav6.c2r4p2"
bunkerweb_version = "1.6.11"

# ID OMI Debian 13 source – trouver avec :
# osc-cli api ReadImages --Filters '{"AccountAliases":["Outscale"],"ImageNames":["Debian-13-*"]}' | grep ImageId
omi_source = "ami-XXXXXXXX"
